Flask==3.1.0
langchain==0.3.24
langchain_community==0.3.23
langchain_core==0.3.56
langchain_ollama==0.3.2
langgraph==0.4.1
langsmith==0.3.39
matplotlib==3.10.1
openevals==0.0.19
python-dotenv==1.1.0
Requests==2.32.3
streamlit==1.37.1
streamlit==1.44.1
torch==2.3.0
torch==2.3.0+cu121
